body
  {

      background-color: dimgrey;
}

.grayBox {
  /* height: 100%;
  width: 100%; 
  background-color: dimgrey;  */
  /* margin: 1em; */
  padding: 4em;
  
 }

 .grayBox:hover
{
  box-shadow: 0px 0px 10px white;
  z-index: 3;
  position: relative;
}
 
 .container {
   margin: 1em;
  height: device-height;
   width: device-width;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
 }

